@import '../../scss/config';

.header{
    height: 5em;
    @include flex(space-between, center);
    @include padding;
    font-weight: 900;
    background-color: $black_medium;
    color: white;
  
    div{
        a{
            font-family: 'Inter', 'Segoe UI', sans-serif;
            color: $green;
        }
    }

    nav{

        a:nth-child(2){
            padding: .5em 1em;
            color: white;
            background-color: $green;
            border-radius: 400px;
            margin-left: 1em;
            transition: background 300ms ease;

            &:hover{
                background-color: $green_hover;
            }
        }
    }
}