@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin padding{
    padding: 0 3em;
}

//colors
$green: #00D54B;
$black_dark: #121212;
$black_medium: #202020;
$black_light: #313131;